.wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.button {
    display: inline-block;
    min-width: 180px;
    padding: 8px 16px;
    border: 0;
    color: #ffffff;
    background-color: #61dafb;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}
.button:hover,cursor {
    opacity: 0.8;
}
