.list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-top: -20px;
    padding: 20px 0;
}

.item {
    flex-basis: calc(100% / 2 - 20px);
    margin-left: 20px;
    margin-top: 20px;

    opacity: 1;

    transition: opacity, transition-duration, transition-timing;

}


.item:hover, :focus {
    color: #61dafb;

    opacity: 0.8;

    transition: all, transition-duration, transition-timing;
}

.link {
    color: inherit;

    text-decoration: none;
}